%btn-reset {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    text-decoration: none;
    background: none;
    border: none;
    box-shadow: none;
}

@import "./components/app";
@import "./components/breadcrumbs";
@import "./components/file";
@import "./components/grid";
