.dropzone {
    position: relative;
    min-height: 32rem;

    &--hovering {
        &::after {
            content: "";
            position: absolute;
            top: -8px;
            bottom: -8px;
            left: -8px;
            right: -8px;
            pointer-events: none;
            background-color: #08f8;
            border: 4px solid #08f;
            border-radius: 2rem;
        }
    }
}
