.file {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    background-color: #353535;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;

    &:hover:not(&--dragging) {
        background-color: #464646;
    }

    &--dragging {
        opacity: 0.5;
    }

    &--hovering {
        background-color: #464646;
        transform: scale(1.1);
    }

    &__title {
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__thumbnail {
        margin-bottom: 0.5rem;
        padding-bottom: 80%;
        background-color: #eee;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__option {
        @extend %btn-reset;
        display: block;
        width: 100%;
        padding: 0 0.5rem;
        transition: background-color 50ms ease-in-out;
        outline: none;

        &:hover,
        &:focus {
            background-color: #353535;
        }
        &:active {
            background-color: #464646;
        }
    }

    &__option-list {
        position: absolute;
        top: calc(100% - 4px);
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 0.5rem 0;
        background-color: #242424;
        border-radius: 0.5rem;
        box-shadow: 0 0 6px #464646;
        outline: none;
        z-index: 100;
    }

    &__option-button {
        @extend %btn-reset;
        position: absolute;
        bottom: 6px;
        right: 8px;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0;
        border-radius: 50%;
        transition: background-color 100ms ease-in-out;

        &:hover {
            background-color: #777;
        }
        &:active {
            background-color: #888;
        }

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: calc(50% - 2px);
            height: 1.25rem;
            border-left: dotted 4px #fff;
        }
    }
}
