.preview-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6rem 0;
    background-color: #0008;
    outline: none;
    overflow-y: auto;

    &__dialog {
        position: relative;
        width: fit-content;
        max-width: 90%;
        min-height: 2.5rem;
        max-height: 100%;
        margin: auto;
        font-size: 0;
        color: #000;
        background-color: #fff;

        transition: transform 300ms ease-out;
        &--fly {
            transform: translateY(-50px);
        }
    }

    &__img {
        max-width: 100%;
        max-height: calc(100vh - 12rem);
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: -2rem;
        right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
        font-size: 1rem;
        color: #000;
        background: none;
        border: none;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            border-right: 3px solid #888;
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(135deg);
        }

        &:hover {
            &::before,
            &::after {
                border-right-color: #444;
            }
        }
        &:active {
            &::before,
            &::after {
                border-right-color: #000;
            }
        }
    }
}
