<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>C-Drive</title>

        <script>
            window.basePath = "{{ base_path }}";
            window.csrftoken = "{{ csrf_token }}";
        </script>

        <script type="module" src="{{ svelte_js }}"></script>
        {% for css in svelte_css %}
        <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
    </head>

    <body></body>
</html>
